<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        Home
    </title>
</head>

<body>
    <div class="error-container">
        {% for num in coolNumbers %}
            {% if user %}
                <h1> welcome {{user}} </h1>
            {% else %}
                <a href="/login">Please log in to continue</a>
            {% endif %}
            <p>
                main site this way
            </p>

        {% endfor %}
    </div>
</body>

</html>